body {
  background-image: url("1.jpg");
  background-repeat: no-repeat; }

#circle {
  width: 93vh;
  height: 93vh;
  position: relative;
  margin: 3vh auto;
  border-radius: 50%;
  border: 2px solid #7f8c8d;
  text-align: center;
  background-image: url("wood.jpg"); }

.slot {
  background: radial-gradient(circle at 50% 40%, #fcfcfc, #efeff1 66%, #9b5050 100%);
  box-shadow: 5px 5px 5px grey;
  width: 9vh;
  height: 9vh;
  display: inline-block;
  margin: 1.3vh;
  border-radius: 50%; }
  .slot.marble {
    background: radial-gradient(circle at 100px 100px, #5cabff, #000); }

.empty {
  background: radial-gradient(circle at 50% 40%, #fcfcfc, #efeff1 66%, #9b5050 100%);
  box-shadow: 5px 5px 5px grey;
  width: 9vh;
  height: 9vh;
  display: inline-block;
  margin: 1.3vh;
  border-radius: 50%; }

.row1 {
  margin-top: 4vh; }
